<!DOCTYPE html>
<html ng-app="triviaApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="./styles/assets/crownFavicon.png">
</head>

<body ng-controller="mainCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a ng-click="getAllQuestions()">All Questions</a>
      <a ng-click="getQuestionsWithDifficulty(1)">Easy</a>
      <a ng-click="getQuestionsWithDifficulty(2)">Medium</a>
      <a ng-click="getQuestionsWithDifficulty(3)">Hard</a>
      <a>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by">
    </div>

    <!-- Questions go here -->
    <div class="question-wrapper ng-scope" ng-repeat="question in questions">
      <b style="font-weight: bold;">{{ question.question }}</b>
      <div ng-repeat="option in question.options">
        {{ option }}
      </div>

    </div>

  </article>

  <div class="modal">
    <form>
      <h4 class="close">X</h4>
      <span>Question</span><input type="text" ng-model="placeholder">
      <span>Animal it's about</span><input type="text" ng-model="placeholder">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="placeholder">

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="placeholder" value="1">
        <input type="text" ng-model="placeholder">
      </div>
      <div>
        <input type="radio" ng-model="placeholder" value="2">
        <input type="text" ng-model="placeholder">
      </div>
      <div>
        <input type="radio" ng-model="placeholder" value="3">
        <input type="text" ng-model="placeholder">
      </div>
      <div>
        <input type="radio" ng-model="placeholder" value="4">
        <input type="text" ng-model="placeholder">
      </div>

      <!--Add question buttons-->
      <div class="buttons">
        <button class="green">Save Question</button>
        <button>Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons">
        <button class="red">Delete Question</button>
        <button class="green">Save Changes</button>
        <button>Cancel</button>
      </div>

    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="./app/js/app.js" charset="utf-8"></script>
  <script src="./app/js/mainCtrl.js" charset="utf-8"></script>
  <script src="./app/js/triviaService.js" charset="utf-8"></script>
</body>

</html>
